body {
  padding: 0;
  margin: 16px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
}

.gallery-item {
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: all 200ms linear;
}

.gallery-image:hover {
  transform: scale(1.04);
}
